body 
    background: #282c34
    color: #fff !important
    padding: 0 1.5em

.float-right
    float: right

.header 
    padding: 1.5em 0

.ant-menu
    color: #fff
    background: transparent !important

    &-title-content
        color: #fff !important

    &-item 
        align-items: center

        & > span > a 
            color: #fff !important